.mini {
    font-size: 11px;
}

.mrsf { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: #00aaff;
}

hr {
    margin-bottom: 100pt
}

.sf-dollars {
    display: flex;
    justify
}

#sf-dollars {
    font-size: 75px;
}

#mrsf {
    width: 175px;